@charset 'UTF-8';

@font-face {
    font-family: 'Bosch Sans Light';
    src: url('../fonts/BoschSans-Light.ttf');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Bosch Sans Regular';
    src: url('../fonts/BoschSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bosch Sans Bold';
    src: url('../fonts/BoschSans-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}    
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 1rem;
    font-family: 'Bosch Sans Light';
    overflow-x: hidden;
    
    

}
a{
    text-decoration: none;
    color: inherit;
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2.25rem;
}
h3{
    font-size: 1.5rem;
    font-weight: lighter;
}
h4{
    font-size: 1.25rem;
}
p{
    font-size: 1rem;
}
